
/*Page entiere*/

/* .containerproduit{
display: flex;
flex-direction: row;
width: 100%;
} */

    /* .imageclass{
    height: 100%;
    width: 50%;
} */

    /* .contenu{
    height: 100%;
    width: 50%;
    display: flex;   
    flex-direction: column;
    }  */

    
 

