
/*Page entiere*/

/* .containerproduit{
display: flex;
flex-direction: row;
width: 100%; 
}

    /* .imageclass{
    height: 100%;
    width: 50%;
} */

    /* .contenu{
    display: flex;
    flex-direction: row;
    }  */

    
 

