/*Titre sku prix*/

.containerproduit{
display: flex;
flex-direction: row;
justify-content: flex-end;
}
.titreproduit{
text-transform: uppercase;
color: brown;
width: 100%;
justify-content: flex-end;
}
.psku{
    margin: auto;
}

.priceprduit{
    margin: auto;
}

/*Image PRODUIT*/

.myimage{
bottom: 0;
height: 100%;
left: 0;
margin: 0;
max-width: none;
padding: 0;
position: absolute;
right: 0;
top: 0;
width: 100%;
}

/*Couleur PRODUIT*/
.couleurproduit{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0px;
    border: solid 1.5px rgb(143, 10, 10);
    padding: 50px;
}

.couleursContairner > div{
    width: 2em;
    height: 2em;
}

.couleursContairner .gris{
    background-color: gray;
}


.couleur.slug{
border: solid 1.5px rgb(143, 10, 10);
} 

/*Taille PRODUIT*/

.tailleproduit {
display: flex;
flex-direction: row;
justify-content: flex-end;
margin-top: 0px;
border: solid 1.5px rgb(143, 10, 10);
padding: 50px;
}

.tailleproduit.s{
    margin: 2px;
    padding: 5px; 
    border: solid 0.5px black;
    height: 5px;
    width: 10px;
}   

.tailleproduit .m{
    border: solid 0.5px black;
    margin: 2px;
    padding: 5px;
    height: 5px;
    width: 10px;
}

.tailleproduit .l{
    border: solid 0.5px black;
    margin: 2px;
    padding: 5px;
    height: 5px;
    width: 10px;
}

.tailleproduit .xl{
    border: solid 0.5px black;
    margin: 2px;
    padding: 5px;
    height: 5px;
    width: 10px;
}

.tailleproduit .xl{
    border: solid 0.5px black;
    margin: 2px;
    padding: 5px;
    height: 5px;
    width: 10px;
}

/*description PRODUIT*/

.descriptionproduit{
margin: auto;
} 
